#!crnn.py
# kate: syntax python;

use_tensorflow = True

import os
from Util import get_login_username

tf_log_dir = None

task = "forward"

train = "/u/doetsch/env/data/rimes/words/files/pca.ctc/hdf5/valid.0001,/u/doetsch/env/data/rimes/words/files/pca.ctc/hdf5/valid.0002,/u/doetsch/env/data/rimes/words/files/pca.ctc/hdf5/valid.0003,/u/doetsch/env/data/rimes/words/files/pca.ctc/hdf5/valid.0004,/u/doetsch/env/data/rimes/words/files/pca.ctc/hdf5/valid.0005,/u/doetsch/env/data/rimes/words/files/pca.ctc/hdf5/valid.0006,/u/doetsch/env/data/rimes/words/files/pca.ctc/hdf5/valid.0007,/u/doetsch/env/data/rimes/words/files/pca.ctc/hdf5/valid.0008,/u/doetsch/env/data/rimes/words/files/pca.ctc/hdf5/valid.0009,/u/doetsch/env/data/rimes/words/files/pca.ctc/hdf5/valid.0010"

dev = "/u/doetsch/env/data/rimes/words/files/pca.ctc/hdf5/valid.0001,/u/doetsch/env/data/rimes/words/files/pca.ctc/hdf5/valid.0002,/u/doetsch/env/data/rimes/words/files/pca.ctc/hdf5/valid.0003,/u/doetsch/env/data/rimes/words/files/pca.ctc/hdf5/valid.0004,/u/doetsch/env/data/rimes/words/files/pca.ctc/hdf5/valid.0005,/u/doetsch/env/data/rimes/words/files/pca.ctc/hdf5/valid.0006,/u/doetsch/env/data/rimes/words/files/pca.ctc/hdf5/valid.0007,/u/doetsch/env/data/rimes/words/files/pca.ctc/hdf5/valid.0008,/u/doetsch/env/data/rimes/words/files/pca.ctc/hdf5/valid.0009,/u/doetsch/env/data/rimes/words/files/pca.ctc/hdf5/valid.0010"

eval = "/u/doetsch/env/data/rimes/words/files/pca.ctc/hdf5/valid.0001,/u/doetsch/env/data/rimes/words/files/pca.ctc/hdf5/valid.0002,/u/doetsch/env/data/rimes/words/files/pca.ctc/hdf5/valid.0003,/u/doetsch/env/data/rimes/words/files/pca.ctc/hdf5/valid.0004,/u/doetsch/env/data/rimes/words/files/pca.ctc/hdf5/valid.0005,/u/doetsch/env/data/rimes/words/files/pca.ctc/hdf5/valid.0006,/u/doetsch/env/data/rimes/words/files/pca.ctc/hdf5/valid.0007,/u/doetsch/env/data/rimes/words/files/pca.ctc/hdf5/valid.0008,/u/doetsch/env/data/rimes/words/files/pca.ctc/hdf5/valid.0009,/u/doetsch/env/data/rimes/words/files/pca.ctc/hdf5/valid.0010"

num_inputs = 20
num_outputs = 81
batching = "random"
batch_size = 10000
max_seqs = 10
# TODO: Figure out gpu
device = "gpu"
log_device_placement = True

network = {
"fw_0" : { "class" : "rec", "unit": "NativeLSTM", "n_out" : 512, "dropout" : 0.3, "direction" : 1 },
"bw_0" : { "class" : "rec", "unit": "NativeLSTM", "n_out" : 512, "dropout" : 0.3, "direction" : -1 },
"fw_1" : { "class" : "rec", "unit": "NativeLSTM", "n_out" : 512, "dropout" : 0.3, "direction" : 1, "from" : [ "fw_0", "bw_0" ] },
"bw_1" : { "class" : "rec", "unit": "NativeLSTM", "n_out" : 512, "dropout" : 0.3, "direction" : -1, "from" : [ "fw_0", "bw_0" ] },
"output": {"class": "neural_transducer", "from": ["fw_1", "bw_1"], "transducer_hidden_units":1024,
            "n_out":82, "transducer_max_width":8, "input_block_size":50, "embedding_size":20, "e_symbol_index":81, 
	    "use_prev_state_as_start":True
          },
"output2": {"class": "softmax", "from": ["output"]}
}

# log
log_verbosity = 5
load = "./final_model/rimes.50-8.2048.50.bilstm/.050"
forward_output_layer = "output2"
preload_from_files = {"./final_model/rimes.50-8.2048.50.bilstm/.050" : {"filename" : "./final_model/rimes.50-8.2048.50.bilstm/.050"}}

output_file = './logs/rimes.nt.50-8.3blstm.1024/forwarded_softmax.hdf'



